{% extends 'base.html' %}
{% load static %}

{% block content %}



<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
							<aside class="sidebar static">
								<div class="widget">
									<h4 class="widget-title">Shortcuts</h4>
									<ul class="naves">
										<li>
											<i class="fa fa-home"></i>
											<a href="{% url 'home' %}" title="">Home</a>
										</li>
										<li>
											<i class="fa fa-users"></i>
											<a href="{% url 'groups' %}" title="">Groups</a>
										</li>
										<li>
											<i class="ti-user"></i>
											<a href="timeline-friends.html" title="">friends</a>
										</li>
										<li>
											<i class="ti-power-off"></i>
											<a href="landing.html" title="">Logout</a>
										</li>
									</ul>
								</div><!-- Shortcuts -->
								<div class="widget stick-widget">
									<h4 class="widget-title">Who's follownig</h4>
									<ul class="followers">
										<li>
											<figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
											<div class="friend-meta">
												<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
												<a href="#" title="" class="underline">Add Friend</a>
											</div>
										</li>
										<li>
											<figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
											<div class="friend-meta">
												<h4><a href="time-line.html" title="">Issabel</a></h4>
												<a href="#" title="" class="underline">Add Friend</a>
											</div>
										</li>
										<li>
											<figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>
											<div class="friend-meta">
												<h4><a href="time-line.html" title="">Andrew</a></h4>
												<a href="#" title="" class="underline">Add Friend</a>
											</div>
										</li>
										<li>
											<figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>
											<div class="friend-meta">
												<h4><a href="time-line.html" title="">Sophia</a></h4>
												<a href="#" title="" class="underline">Add Friend</a>
											</div>
										</li>
										<li>
											<figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
											<div class="friend-meta">
												<h4><a href="time-line.html" title="">Allen</a></h4>
												<a href="#" title="" class="underline">Add Friend</a>
											</div>
										</li>
									</ul>
								</div><!-- who's following -->
							</aside>
						</div><!-- sidebar -->
						<div class="col-lg-6">
							<div class="central-meta">
								<div class="new-postbox">
									<figure>
										<img src="images/resources/admin2.jpg" alt="">
									</figure>
									<div class="newpst-input">
										<form method="post">
											<textarea rows="2" placeholder="write something"></textarea>
											<div class="attachments">
												<ul>
													<li>
														<i class="fa fa-music"></i>
														<label class="fileContainer">
															<input type="file">
														</label>
													</li>
													<li>
														<i class="fa fa-image"></i>
														<label class="fileContainer">
															<input type="file">
														</label>
													</li>
													<li>
														<i class="fa fa-video-camera"></i>
														<label class="fileContainer">
															<input type="file">
														</label>
													</li>
													<li>
														<i class="fa fa-camera"></i>
														<label class="fileContainer">
															<input type="file">
														</label>
													</li>
													<li>
														<button type="submit">Post</button>
													</li>
												</ul>
											</div>
										</form>
									</div>
								</div>
							</div><!-- add post new box -->
							<div class="loadMore">
								{% for a in post %}

								<div class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<img src="{{a.author.image.url}}" alt="">
											</figure>
											<div class="friend-name">
												<ins><a href="time-line.html" title="">{{a.author}}</a></ins>
												<span>published: {{a.date}}</span>
											</div>
											<div class="post-meta">
												<img src="{{a.file.url}}" alt="">
												<div class="we-video-info">
													<ul>
														<li>
															<span class="views" data-toggle="tooltip" title="views">
																<i class="fa fa-eye"></i>
																<ins>1.2k</ins>
															</span>
														</li>
														<li>
															<span class="comment" data-toggle="tooltip" title="Comments">
																<i class="fa fa-comments-o"></i>
																<ins>52</ins>
															</span>
														</li>
														<li>
															<span class="like" data-toggle="tooltip" title="like">
																<form action="/addlike/" method="post">{% csrf_token %}
																	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
																	{% if user in a.liked.all %}
																	<button value="{{a.id}}" name="post_id" style="background-color: rgba(255, 255, 255, 0); color: green; display: inline;"><i class="fa fa-thumbs-up"></i><h6 style="margin-left: 5px; display: inline;">{{a.liked.all.count}}</h6></button>
																	{% else %}
																	<button value="{{a.id}}" name="post_id" style="background-color: rgba(255, 255, 255, 0); color: green; display: inline;"><i class="fa fa-thumbs-o-up"></i><h6 style="margin-left: 5px; display: inline;">{{a.liked.all.count}}</h6></button>
																	{% endif %}
																</form>

															</span>
														</li>
														<li>
															<span class="dislike" data-toggle="tooltip" title="dislike">
																<form action="/adddislike/" method="post">{% csrf_token %}
																	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
																	{% if user in a.disliked.all %}
																	<button value="{{a.id}}" name="post_id" style="background-color: rgba(255, 255, 255, 0); color: red; display: inline;"><i class="fa fa-thumbs-down"></i><h6 style="margin-left: 5px; display: inline;">{{a.disliked.all.count}}</h6></button>
																	{% else %}
																	<button value="{{a.id}}" name="post_id" style="background-color: rgba(255, 255, 255, 0); color: red; display: inline;"><i class="fa fa-thumbs-o-down"></i><h6 style="margin-left: 5px; display: inline;">{{a.disliked.all.count}}</h6></button>
																	{% endif %}
																</form>
															</span>
														</li>
														<li class="social-media">
															<div class="menu">
															<div class="btn trigger"><i class="fa fa-share-alt"></i></div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
															</div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
															</div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
															</div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
															</div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
															</div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
																</div>
															</div>
																<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
																</div>
															</div>
															<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
																</div>
															</div>

															</div>
														</li>
													</ul>
												</div>
												<div class="description">

													<p>{{a.text}}</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								{% endfor %}
							</div>
						</div><!-- centerl meta -->
						<div class="col-lg-3">
							<aside class="sidebar static">
								<div class="widget">
									<h4 class="widget-title">Your page</h4>
									<div class="your-page">
										<figure>
											<a href="#" title=""><img src="images/resources/friend-avatar9.jpg" alt=""></a>
										</figure>
										<div class="page-meta">
											<a href="#" title="" class="underline">My page</a>
										</div>
										<div class="page-likes">
											<ul class="nav nav-tabs likes-btn">
												<li class="nav-item"><a class="active" href="#link1" data-toggle="tab">likes</a></li>
												 <li class="nav-item"><a class="" href="#link2" data-toggle="tab">views</a></li>
											</ul>
											<!-- Tab panes -->
											<div class="tab-content">
											  <div class="tab-pane active fade show " id="link1" >
												<span><i class="ti-heart"></i>884</span>
												  <a href="#" title="weekly-likes">35 new likes this week</a>
												  <div class="users-thumb-list">
													<a href="#" title="Anderw" data-toggle="tooltip">
														<img src="images/resources/userlist-1.jpg" alt="">
													</a>
													<a href="#" title="frank" data-toggle="tooltip">
														<img src="images/resources/userlist-2.jpg" alt="">
													</a>
													<a href="#" title="Sara" data-toggle="tooltip">
														<img src="images/resources/userlist-3.jpg" alt="">
													</a>
													<a href="#" title="Amy" data-toggle="tooltip">
														<img src="images/resources/userlist-4.jpg" alt="">
													</a>
													<a href="#" title="Ema" data-toggle="tooltip">
														<img src="images/resources/userlist-5.jpg" alt="">
													</a>
													<a href="#" title="Sophie" data-toggle="tooltip">
														<img src="images/resources/userlist-6.jpg" alt="">
													</a>
													<a href="#" title="Maria" data-toggle="tooltip">
														<img src="images/resources/userlist-7.jpg" alt="">
													</a>
												  </div>
											  </div>
											  <div class="tab-pane fade" id="link2" >
												  <span><i class="ti-eye"></i>440</span>
												  <a href="#" title="weekly-likes">440 new views this week</a>
												  <div class="users-thumb-list">
													<a href="#" title="Anderw" data-toggle="tooltip">
														<img src="images/resources/userlist-1.jpg" alt="">
													</a>
													<a href="#" title="frank" data-toggle="tooltip">
														<img src="images/resources/userlist-2.jpg" alt="">
													</a>
													<a href="#" title="Sara" data-toggle="tooltip">
														<img src="images/resources/userlist-3.jpg" alt="">
													</a>
													<a href="#" title="Amy" data-toggle="tooltip">
														<img src="images/resources/userlist-4.jpg" alt="">
													</a>
													<a href="#" title="Ema" data-toggle="tooltip">
														<img src="images/resources/userlist-5.jpg" alt="">
													</a>
													<a href="#" title="Sophie" data-toggle="tooltip">
														<img src="images/resources/userlist-6.jpg" alt="">
													</a>
													<a href="#" title="Maria" data-toggle="tooltip">
														<img src="images/resources/userlist-7.jpg" alt="">
													</a>
												  </div>
											  </div>
											</div>
										</div>
									</div>
								</div><!-- page like widget -->
								<div class="widget friend-list stick-widget">
									<h4 class="widget-title">Friends</h4>
									<div id="searchDir"></div>
									<ul id="people-list" class="friendz-list">
										<li>
											<figure>
												<img src="images/resources/friend-avatar.jpg" alt="">
												<span class="status f-online"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">bucky barnes</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>
											<figure>
												<img src="images/resources/friend-avatar2.jpg" alt="">
												<span class="status f-away"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">Sarah Loren</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b4d6d5c6dad1c7f4d3d9d5ddd89ad7dbd9">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>
											<figure>
												<img src="images/resources/friend-avatar3.jpg" alt="">
												<span class="status f-off"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">jason borne</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1d777c6e72737f5d7a707c7471337e7270">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>
											<figure>
												<img src="images/resources/friend-avatar4.jpg" alt="">
												<span class="status f-off"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">Cameron diaz</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="bed4dfcdd1d0dcfed9d3dfd7d290ddd1d3">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar5.jpg" alt="">
												<span class="status f-online"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">daniel warber</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="553f34263a3b37153238343c397b363a38">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar6.jpg" alt="">
												<span class="status f-away"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">andrew</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5933382a36373b193e34383035773a3634">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar7.jpg" alt="">
												<span class="status f-off"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">amy watson</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5933382a36373b193e34383035773a3634">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar5.jpg" alt="">
												<span class="status f-online"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">daniel warber</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="dbb1baa8b4b5b99bbcb6bab2b7f5b8b4b6">[email&#160;protected]</a></i>
											</div>
										</li>
										<li>

											<figure>
												<img src="images/resources/friend-avatar2.jpg" alt="">
												<span class="status f-away"></span>
											</figure>
											<div class="friendz-meta">
												<a href="time-line.html">Sarah Loren</a>
												<i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2644475448435566414b474f4a0845494b">[email&#160;protected]</a></i>
											</div>
										</li>
									</ul>
									<div class="chat-box">
										<div class="chat-head">
											<span class="status f-online"></span>
											<h6>Bucky Barnes</h6>
											<div class="more">
												<span><i class="ti-more-alt"></i></span>
												<span class="close-mesage"><i class="ti-close"></i></span>
											</div>
										</div>
										<div class="chat-list">
											<ul>
												<li class="me">
													<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
													<div class="notification-event">
														<span class="chat-message-item">
															Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
														</span>
														<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
													</div>
												</li>
												<li class="you">
													<div class="chat-thumb"><img src="images/resources/chatlist2.jpg" alt=""></div>
													<div class="notification-event">
														<span class="chat-message-item">
															Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
														</span>
														<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
													</div>
												</li>
												<li class="me">
													<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
													<div class="notification-event">
														<span class="chat-message-item">
															Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
														</span>
														<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
													</div>
												</li>
											</ul>
											<form class="text-box">
												<textarea placeholder="Post enter to post..."></textarea>
												<div class="add-smiles">
													<span title="add icon" class="em em-expressionless"></span>
												</div>
												<div class="smiles-bunch">
													<i class="em em---1"></i>
													<i class="em em-smiley"></i>
													<i class="em em-anguished"></i>
													<i class="em em-laughing"></i>
													<i class="em em-angry"></i>
													<i class="em em-astonished"></i>
													<i class="em em-blush"></i>
													<i class="em em-disappointed"></i>
													<i class="em em-worried"></i>
													<i class="em em-kissing_heart"></i>
													<i class="em em-rage"></i>
													<i class="em em-stuck_out_tongue"></i>
												</div>
												<button type="submit"></button>
											</form>
										</div>
									</div>
								</div><!-- friends list sidebar -->
							</aside>
						</div><!-- sidebar -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}